*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.images{
    form{
        margin: 20px 0 40px;
        .input-box{
            display: flex;
            justify-content: center;
            input{
                width: 400px;
                border-radius: 50px;
                margin: 0 4px;
            }
            button{
                margin-left: 8px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .mon-box{
        h3{
            color: black;
            display: flex;
            justify-content: space-between;
        }
    }
}